body
{
    background:url(Maths.png);
}
h1{
    color: magenta;
    text-align: center;
    font-weight: bold;
    font-family: comic sans ms;
    background-color: aqua;
   
}
img{
    width: 500px;
}
.login_div1 , .login_div2
    {
        background: yellow;
        padding: 10px;
        float: none;
        border-radius: 15px;
    }

    #output
{
	background: lightgreen;
	border-radius: 10px;
	border-top: 10px solid #d84e7a;
	padding: 10px;
	float: none;
	text-align: left;
}

#player1_name , #player2_name
{
    display: inline-block;
    margin-left: 20px;
}
h3{
color:darkblue;
font-family:'Lucida Grande';
font-weight: bold;
font-size: 30px;
}

h4{
    color: black;
    font-size: 25px;
    font-weight:bolder;
}
label{
    color: crimson;
    font-size: 20;
    font-family:Consolas;
}